<form class="form-horizontal alert alert-warning" name="userForm" id="userForm" hidden >
    <h3 class="text-center">Insert User Details Into Database</h3>
    <div class="form-group">
    <label >Name:</label>
    <input type="text" name="name" class="form-control" placeholder="Enter Name" ng-model="form.name" autofocus required />
    </div>
    <div class="form-group">
    <!--<p class="text-danger" ng-show="empList.emp_name.$invalid && empList.emp_name.$dirty">Name field is Empty!</p>-->
    </div>
    <div class="form-group">
    <label >Email Address:</label>
    <input type="email" name="email" class="form-control" placeholder="Enter Employee Email Address" ng-model="form.email" autofocus required />
    </div>
    <div class="form-group">
    <p class="text-danger" ng-show="empList.emp_email.$invalid && empList.emp_email.$dirty">Invalid Email!</p>
    </div>
    <div class="form-group">
    <label >password:</label>

    <input type="password" name="password"  ng-model="form.password" class="form-control" autofocus required >


    </div>
    <div class="form-group">
    <label >Mobile:</label>
    <input type="text" name="mobile" class="form-control" placeholder="Enter Employee Address" ng-model="form.mobile" autofocus required />
    </div>
    <div class="form-group">
        <label >File upload:</label>
        <input type="file" name="imageUrl" class="form-control"  ng-model="form.file" autofocus required />
    </div>
    <div class="form-group">
    <button class="btn btn-warning" ng-click="insertInfo()">Add Into Database</button>
    </div>

    </form>
    
